# Import Raw Data

In [3]:
import pandas as pd, numpy as np

In [4]:
dfr = pd.read_csv('NCAA_Tourney_2002-2017.csv')
target = dfr['result']
df = dfr.drop('result', axis = 1)

In [5]:
print(list(df.columns))

['Numot', 'Season', 'game_id', 'host_lat', 'host_long', 'host_site', 'season', 'team1_adjde', 'team1_adjoe', 'team1_adjtempo', 'team1_ap_final', 'team1_ap_preseason', 'team1_arate', 'team1_blockpct', 'team1_coach_id', 'team1_coach_name', 'team1_coaches_before_final', 'team1_coaches_preseason', 'team1_de', 'team1_f3grate', 'team1_fg2pct', 'team1_fg3pct', 'team1_ftpct', 'team1_id', 'team1_lat', 'team1_long', 'team1_oe', 'team1_opparate', 'team1_oppblockpct', 'team1_oppf3grate', 'team1_oppfg2pct', 'team1_oppfg3pct', 'team1_oppftpct', 'team1_oppstlrate', 'team1_pt_career_overall_losses', 'team1_pt_career_school_losses', 'team1_pt_career_school_wins', 'team1_pt_coach_season_losses', 'team1_pt_coach_season_wins', 'team1_pt_overall_ff', 'team1_pt_overall_ncaa', 'team1_pt_overall_s16', 'team1_pt_school_ff', 'team1_pt_school_ncaa', 'team1_pt_school_s16', 'team1_pt_team_season_losses', 'team1_pt_team_season_wins', 'team1_rpi_rating', 'team1_score', 'team1_seed', 'team1_stlrate', 'team1_teamname', 'team1_tempo', 'team2_adjde', 'team2_adjoe', 'team2_adjtempo', 'team2_ap_final', 'team2_ap_preseason', 'team2_arate', 'team2_blockpct', 'team2_coach_id', 'team2_coach_name', 'team2_coaches_before_final', 'team2_coaches_preseason', 'team2_de', 'team2_f3grate', 'team2_fg2pct', 'team2_fg3pct', 'team2_ftpct', 'team2_id', 'team2_lat', 'team2_long', 'team2_oe', 'team2_opparate', 'team2_oppblockpct', 'team2_oppf3grate', 'team2_oppfg2pct', 'team2_oppfg3pct', 'team2_oppftpct', 'team2_oppstlrate', 'team2_pt_career_overall_losses', 'team2_pt_career_school_losses', 'team2_pt_career_school_wins', 'team2_pt_coach_season_losses', 'team2_pt_coach_season_wins', 'team2_pt_overall_ff', 'team2_pt_overall_ncaa', 'team2_pt_overall_s16', 'team2_pt_school_ff', 'team2_pt_school_ncaa', 'team2_pt_school_s16', 'team2_pt_team_season_losses', 'team2_pt_team_season_wins', 'team2_rpi_rating', 'team2_score', 'team2_seed', 'team2_stlrate', 'team2_teamname', 'team2_tempo']

# Dummy Up

### team1_teamname

In [7]:
team1_id = pd.get_dummies(df['team1_id'])
team1_id.head()

,1102,1104,1105,1106,1107,1108,1112,1113,1114,1115,...,1452,1453,1454,1455,1457,1458,1459,1461,1462,1463
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### team1_teamname

In [8]:
team2_id = pd.get_dummies(df['team2_id'])
team2_id.head()

,1102,1103,1104,1107,1110,1112,1113,1114,1115,1116,...,1452,1454,1455,1457,1458,1459,1460,1461,1462,1463
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### team1_coach_id

In [9]:
team1_coach_id = pd.get_dummies(df['team1_coach_id'])
team1_coach_id.head()

,al-skinner-1,andrew-toole-1,andy-enfield-1,andy-kennedy-1,anthony-grant-2,archie-miller-1,ben-braun-1,ben-howland-1,ben-jacobson-4,bill-carmody-1,...,tom-izzo-1,tommy-amaker-1,tony-bennett-1,travis-ford-1,trent-johnson-1,tubby-smith-1,vann-pettaway-1,wayne-tinkle-1,will-brown-2,will-wade-1
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### team1_coach_id

In [10]:
team2_coach_id = pd.get_dummies(df['team2_coach_id'])
team2_coach_id.head()

,al-skinner-1,andrew-toole-1,andy-enfield-1,andy-kennedy-1,anthony-evans-2,anthony-grant-2,archie-miller-1,ben-braun-1,ben-howland-1,ben-jacobson-4,...,tommy-amaker-1,tony-barbee-1,tony-bennett-1,travis-ford-1,trent-johnson-1,tubby-smith-1,wayne-morgan-1,wayne-tinkle-1,will-brown-2,will-wade-1
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Put back

In [11]:
df1 = team1_id.merge(team2_id, left_index=True, right_index = True)

In [12]:
df2 = df1.merge(team1_coach_id, left_index=True, right_index = True)

In [13]:
df3 = df2.merge(team2_coach_id,left_index=True, right_index = True )

# Replace np.nan with mean

# Save

In [14]:
df3.to_csv('dummies.csv')

In [17]:
len(df3.columns)

918